

.bg-custom{
    background-color: black;
}

/* .custom-link{
    color: white;
    text-decoration: none;
} */

.custom-nav-item{
    padding-top: 32px;
}

.footer-custom{
    background-color: black;
    color: white;
    width: 100%;
    height: 220px;
}

.ft-custom{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* .custom-slider{
    height: 150px;
    width: 150px;
} */